body {
    font-family:arial;
    color: white;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.yeah {
    background-color: rgb(0, 91, 5);
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 40px rgba(0, 255, 13, 0.5);
}

.yeah:hover {
    scale: 1.05;
}